# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# rclone binary and config
rclone.exe
rclone.conf

# Vim files
*~
*.swp
*.swo

# Visual Studio / VSCode
.vs/

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json